<!DOCTYPE html>
<html lang="en">
<head id="head"></head>

<body>
  <header id="header"></header> <!-- Loaded from partial -->

  <main>
    <section id="cargo-details-section">
      <h1>Cargo Details</h1>
      <div id="cargo-info" class="cargo-info">
        <!-- Cargo info will be populated here -->
      </div>
      <button id="assign-btn" class="assign-btn">Assign to a Truck</button>
    </section>
  </main>

  <footer id="footer"></footer> <!-- Loaded from partial -->

  <script type="module" src="../scripts/cargo-detail.js"></script>
</body>
</html>
